/* applies to full body */
body{
    font-family: adobe-garamond-pro,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

article{
    padding-top: 77px;
}

.container{
    height: 100%;
}

.m12{
    align-content: center;
    text-align: center;
}

h4{
    color: white
}

/* nav bar styling */
header{
    text-align: center;
    font-size: 30px;
}

nav{
    background-color: #E8F8F5 !important;
    color: #148F77 !important;
    font-family: 'Baloo Chettan 2', cursive;
}

nav ul a{
    color: #148F77 !important;
}

/* Portfolio container */
.work-head{
    height: 400px;
    background-color: #E8F8F5;
}

#myWorkContainer{
    height: 400px !important;
}

h1{
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    padding-top: 125px;
    margin: 0px;
    color: #148F77;
}

/* top container */
.fa-binoculars{
    color: #F1C40F;
}

#myWork{
    color: #148F77 
}

#whatImUpTo{
    margin: 0 0 10px;
    font-weight: 300;
}

/* weather app container */
#weatherApp{
    background-color: #E74C3C;
    color: #fff;
}

h4{
    color: white
}

/* food app container */

#foodApp{
    background-color: #138D75;
    color: #fff;
    padding-bottom: 60px;
}

#quizchallenge{
    background-color: #fcba03;
    color: #fff;
    padding-bottom: 60px;
}

.coding-quiz{
    width: 60%;
}

#thanklyapp{
    background-color: #65008a;
    color: #fff;
    padding-bottom: 60px;
}

.thankly-image{
    width: 60%;
}

#burgerapp{
    background-color: #0073ff;
    color: #fff;
    padding-bottom: 60px;
}

.burger-image{
    width: 60%;
}
/* About me Page */

#webDev{
    color: #148F77;
    text-align: center;
    font-size: 20px;
}

.material-icons{
    font-size: 170px;
    color: #EC7063;
}

#aboutMe{
    height: 500px;
}

#whatIDo{
    height: 300px;
}

#contactMe{
    height: 300px;
}

h3{
    color: #138D75;
    text-align: center;
}

.computer{
    float: right;
}

#aboutMeArticle{
    padding-top: 20px;
    font-size: 20px;
}

li{
    text-indent: 60px;
}

.left{
    color: #fff;
}

/* Contact Me */
#contactMe{
    height: 100px;
}

.waves-effect{
    margin: 10px;
}

.fab{
    padding-right: 5px;
}

.far{
    padding-right: 5px;
}

@media only screen and (max-width: 700px) {
    .computer{
        float: none;
        padding-left: 30px;
    }
    .application-screenshots{
        width: 100%;
    }
    ul{
        text-align: center;
    }
    li{
        text-indent: 0;
    }
  }